 <h1>Enter the {{name}}'s address</h1>

<form #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="address.name" required>
      </div>

      <div class="form-group">
        <label for="street">street</label>
        <input type="text" class="form-control" id="street" name="street" [(ngModel)]="address.street" >
      </div>

      <div class="form-group">
        <label for="city">city</label>
        <input type="text" class="form-control" id="city" name="city" [(ngModel)]="address.city" >
      </div>
       <div class="form-group">
        <label for="city">state</label>
        <input type="text" class="form-control" id="state" name="state" [(ngModel)]="address.state" >
      </div>
       <div class="form-group">
        <label for="zip">zip</label>
        <input type="text" class="form-control" id="zip" name="zip" [(ngModel)]="address.zip" >
      </div>
</form>